<ngx-spinner></ngx-spinner>
<div class="d-flex flex-column bd-highlight mb-3 align-items-center">
  <h1 class="h3 mb-3 font-weight-normal">Create Organization</h1>
  <form [formGroup]="organizationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>
        Organization Name
        <input type="text" class="form-control" formControlName="name" required autofocus/>
      </label>
      <app-error-messages [controlName]="'organizationName'" [control]="this.organizationForm.controls.name"></app-error-messages>
    </div>
    <div class="form-group">
      <label>
        Type
        <select class="form-control" formControlName="type">
          <option [ngValue]="c" *ngFor="let c of getTypes()">
            {{c}}
          </option>
        </select>
      </label>
      <app-error-messages [controlName]="'organizationType'" [control]="this.organizationForm.controls.type"></app-error-messages>
    </div>
    <div class="form-group">
      <button [disabled]="disableCreateButton()" class="btn btn-lg app-button btn-block">Create</button>
    </div>
  </form>
</div>
