<router-outlet></router-outlet>
<div *ngIf="currentFile" class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" [attr.aria-valuenow]="progress"
       aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress + '%' }">
    {{ progress }}%
  </div>
</div>

<label class="btn btn-default">
  <input type="file" (change)="selectFile($event)"/>
</label>

<button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
  Upload
</button>

<div *ngIf="filesInfo" class="container">
  <div class="row">
    <div class="col-sm">
      Heap
      <br>
      <ul>
        <li *ngFor="let i of filesInfo?.heapDocuments">
          <a [routerLink]="['/documents', i.id]">{{i.name}}</a>
        </li>
      </ul>
    </div>
    <div class="col-sm">
      Waiting
      <br>
      <ul>
        <li *ngFor="let i of filesInfo?.waitingDocuments">
          <a [routerLink]="['./', i.id]">{{i.name}}</a>
        </li>
      </ul>
    </div>
    <div class="col-sm">
      In Progress
      <br>
      <ul>
        <li *ngFor="let i of filesInfo?.progressDocuments">
          <a [routerLink]="['./', i.id]">{{i.name}}</a>
        </li>
      </ul>
    </div>
    <div class="col-sm">
      Answered
      <br>
      <ul>
        <li *ngFor="let i of filesInfo?.answeredDocuments">
          <a [routerLink]="['./', i.id]">{{i.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
