<div class="row ml-2 mr-2">
  <div class="col-md-3">
    <div class="list-group ">
      <a [routerLink]="'general'" class="list-group-item btn-primary list-group-item-action">General</a>
    </div>
    <div class="list-group ">
      <a [routerLink]="'members'" class="list-group-item list-group-item-action">Members</a>
    </div>
    <div class="list-group">
      <a [routerLink]="'my-documents'" class="list-group-item list-group-item-action">My Documents</a>
    </div>
    <div class="list-group">
      <a [routerLink]="'settings'" *ngIf="admin()" class="list-group-item list-group-item-action">Settings</a>
    </div>
    <div class="list-group">
      <a [routerLink]="'documents'" class="list-group-item list-group-item-action">Organization Documents</a>
    </div>
    <div class="list-group">
      <a [routerLink]="'requests'" *ngIf="admin()" class="list-group-item list-group-item-action">Requests</a>
    </div>
  </div>
  <div class="col-md-9">
    <h1 *ngIf="organizationName">{{organizationName}}</h1>
    <div class="card">
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
