<div class="container">
  <div class="row">
    <div class="col-md-3 ">
      <div class="list-group ">
        <a [routerLink]="'members'" class="list-group-item list-group-item-action">Members</a>
      </div>
      <div class="list-group ">
        <a [routerLink]="'documents'" class="list-group-item list-group-item-action">Documents</a>
      </div>
      <div class="list-group ">
        <a [routerLink]="'settings'" class="list-group-item list-group-item-action">Settings</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
