<ngx-spinner></ngx-spinner>
<ol>
  <li *ngFor="let item of organizationRoles">
    {{item.name}} <span data-toggle="modal" data-target="#renameRoleModal" (click)="setCurrentRename(item)">edit</span>
    <span data-toggle="modal" data-target="#deleteRoleModal" (click)="setCurrent(item)">delete</span>
  </li>
</ol>
<button data-toggle="modal" data-target="#createNewRole">New Role</button>

<div *ngIf="current" class="modal fade" id="deleteRoleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Do you want approve ?</h5>
      </div>
      <div class="modal-body">
        Delete role.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          No
        </button>
        <button type="button" class="btn btn-primary" (click)="deleteOrganizationRole(current?.id)" data-dismiss="modal">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="renameRoleForm" class="modal fade" id="renameRoleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Do you want approve ?</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="renameRoleForm">
          <div class="form-group">
            <label>
              Organization Role Name
              <input type="text" class="form-control" formControlName="newName" required autofocus/>
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="renameOrganizationRole()" data-dismiss="modal">
          Rename
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="createNewRoleForm" class="modal fade" id="createNewRole" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Do you want approve ?</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="createNewRoleForm">
          <div class="form-group">
            <label>
              Organization Role Name
              <input type="text" class="form-control" formControlName="name" required autofocus/>
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="createNewRole()" data-dismiss="modal">
          Create
        </button>
      </div>
    </div>
  </div>
</div>
