<ngx-spinner></ngx-spinner>
<div *ngIf="notifications" class="d-flex justify-content-center">
  <div class="list-group text-center">
    <div *ngFor="let i of notifications " class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://static01f.coloros.com/community/data/attachment/forum/201908/09/181654pcnt7o9b3u3n4c7n.jpeg"
           alt="Card image cap">

      <div class="card-body">
        <h5 class="card-title">
          {{i.message}}
        </h5>
        <p>
          <a class="btn btn-primary btn-lg btn-block" [routerLink]="i.path">{{i.linkText}}</a>
        </p>
      </div>
    </div>
  </div>
</div>
